.page-header {
  background: url(../img/half-circle.png) no-repeat right bottom;
  position: relative;
  height: 112px;
}

.page-header h1,
.page-header h2 {
  position: absolute;
  bottom: 0;
}

#landing p {
  margin-bottom: 1.5em;
}

#app {
  margin-top: 3em;
}

#loader {
  float: right;
}

#author {
  width: 50px;
  height: 60px;
  padding: 15px;
  padding-left: 5px;

  position: absolute;
  bottom: 0;
  right: 0;

  opacity: 0.5;
}

#author:hover {
  opacity: 1;
}

.email {
  font-weight: bold;
  color: #555;
  text-transform: lowercase;
}

.glyphicon {
  margin-right: 10px;
}

.host {
  font-weight: bold;
  margin-right: 5px;
}

.del {
  float: right;
  color: #999;
  cursor: pointer;
}

.del:hover {
  color: #bbb;
}

form#update-form {
  text-align: center;
}

input#new-address {
  border: none;
  border-bottom: 1px solid #999;

  padding: 3px;
  margin-right: 15px;

  width: 75%;
  text-align: center;
}
